<%= form_with(model: images_tag, local: true) do |form| %>
  <% if images_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(images_tag.errors.count, "error") %> prohibited this images_tag from being saved:</h2>

      <ul>
      <% images_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
